body{
  background-color: whitesmoke;
  margin: 0;
}

header{
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  width: 100%;
  height: 150px;
background-image: url("https://media3.giphy.com/media/l4FGBX2RxxywvlZ3a/source.gif");
background-size: cover;
}
header:hover{
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  width: 100%;
  height: 150px;
background-image: url("https://media0.giphy.com/media/3oEjHU5ZOyfDOzbSyk/giphy.gif?cid=790b7611d313ccec898467f215691918f2aa72bbcac66e69&rid=giphy.gif");
background-size: cover;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    font-family: 'Quicksand', sans-serif;
    background-color: #212121;
    color: red;
}

input{
  padding: 8px;
}

a{
  text-decoration: none;
  color: white;
}

.red{
  color: red;
}

.create{
  margin: 20px;
  text-align: center;

}
.logout{
  display: block;
  margin: 20px;
  text-align: center;
  justify-content: center;
}


.button{
      width: 200px;
      border: 3px solid #fff;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background: none;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      margin: 30px;
      padding: 15px;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
}
